img {
	width:100px;
}
.left-column {
	width: 20%;
	float: left;
	padding: 5%;
}
.left-column p {
	text-decoration:underline;
}
.right-column {
	width: 60%;
	float: right;
	padding: 5%;
}
#name {
	text-decoration: underline;
}